@import "tailwindcss";

/* theme basic */
:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

/* dark mode auto */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* base body */
body {
  @apply bg-white text-black dark:bg-black dark:text-white;
  font-family: system-ui, Arial, Helvetica, sans-serif;
}